# Personal Finance

Date: 8/1/2024

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Budget

### Income

In [2]:
base_salary = 185_000

In [3]:
bonus_factor = 0.12 # standard base
annual_bonus = base_salary * bonus_factor
biannual_bonus = annual_bonus / 2
print(f'annual_bonus = ${annual_bonus}')
print(f'biannual_bonus = ${biannual_bonus}')

annual_bonus = $22200.0
biannual_bonus = $11100.0

In [4]:
share_price = 300.00
num_shares = 202
annual_equity = share_price * num_shares
quarterly_equity = annual_equity / 4
print(f'annual_equity = ${annual_equity}')
print(f'quarterly_equity = ${quarterly_equity}')

annual_equity = $60600.0
quarterly_equity = $15150.0

In [5]:
tax_rate = 0.34
bonus_tax_rate = 0.42

In [6]:
other_monthly_income = 0 # only 1-2 more payments (TBD on amount and when)

In [7]:
annual_compensation = base_salary + annual_equity + annual_bonus
print(f'annual_compensation = ${annual_compensation}')

annual_compensation = $267800.0

In [8]:
total_annual_income = annual_compensation + 8 * other_monthly_income # for 2024
print(f'total_annual_income = ${total_annual_income}')

total_annual_income = $267800.0

In [9]:
net_annual_income = base_salary * (1 - tax_rate) + (annual_equity + annual_bonus) * (1 - bonus_tax_rate) + 8 * other_monthly_income
print(f'net_annual_income = ${net_annual_income}')

net_annual_income = $170124.0

In [10]:
monthly_salary = base_salary / 12
print(f'monthly_salary = ${round(monthly_salary, 2)}')

monthly_salary = $15416.67

In [11]:
total_monthly_income = base_salary / 12 + other_monthly_income
print(f'total_monthly_income = ${round(total_monthly_income, 2)}')

total_monthly_income = $15416.67

In [12]:
net_monthly_income = base_salary * (1 - tax_rate) / 12 + other_monthly_income
print(f'net_monthly_income = ${round(net_monthly_income, 2)}')

net_monthly_income = $10175.0

In [13]:
total_per_paycheck = base_salary / 12 / 2
print(f'total_per_paycheck = ${round(total_per_paycheck, 2)}')

total_per_paycheck = $7708.33

In [14]:
net_per_paycheck = total_per_paycheck * (1 - tax_rate)
print(f'net_per_paycheck = ${round(net_per_paycheck, 2)}')

net_per_paycheck = $5087.5

In [15]:
net_quarterly_equity = quarterly_equity * (1 - bonus_tax_rate)
print(f'net_quarterly_equity = ${round(net_quarterly_equity, 2)}')

net_quarterly_equity = $8787.0

In [16]:
net_biannual_bonus = biannual_bonus * (1 - bonus_tax_rate)
print(f'net_biannual_bonus = ${round(net_biannual_bonus, 2)}')

net_biannual_bonus = $6438.0

In [17]:
effective_total_monthly_income = total_monthly_income + annual_bonus / 12 + annual_equity / 12
print(f'effective_total_monthly_income = ${round(effective_total_monthly_income, 2)}')

effective_total_monthly_income = $22316.67

In [18]:
effective_net_monthly_income = net_annual_income / 12
print(f'effective_net_monthly_income = ${round(effective_net_monthly_income, 2)}')

effective_net_monthly_income = $14177.0

### Costs

In [19]:
fixed_costs = sum([
    3000, # rent
    170, # utilities
    50, # health insurance
    120, # car insurance
    15 * 2 + 12 * 2, # subscriptions
    389, # student loans
    1249, # car loan
])

print(f'fixed_costs = ${fixed_costs}')

fixed_costs = $5032

In [20]:
variable_costs_sc = sum([
    30 * 30, # food + coffee + alcohol
    100, # gas
    450 + 150, # travel (GSP-SFO airfare + 1 hotel)
    200, # misc
])

print(f'variable_costs_sc = ${variable_costs_sc}')

variable_costs_sc = $1800

In [21]:
variable_costs_ca = sum([
    50 * 30, # food + coffee + alcohol
    300, # gas
    450 + 4 * 100, # travel (GSP-SFO airfare + 4 hotels)
    200, # misc
])

print(f'variable_costs_ca = ${variable_costs_ca}')

variable_costs_ca = $2850

In [22]:
total_monthly_costs_sc = fixed_costs + variable_costs_sc
print(f'total_monthly_costs_sc = ${total_monthly_costs_sc}')

total_monthly_costs_sc = $6832

In [23]:
total_monthly_costs_ca = fixed_costs + variable_costs_ca
print(f'total_monthly_costs_ca = ${total_monthly_costs_ca}')

total_monthly_costs_ca = $7882

In [24]:
pct_time_in_sc = 0.5
avg_total_monthly_costs = pct_time_in_sc * total_monthly_costs_sc + (1 - pct_time_in_sc) * total_monthly_costs_ca
print(f'avg_total_monthly_costs = ${avg_total_monthly_costs}')

avg_total_monthly_costs = $7357.0

In [25]:
total_annual_costs = total_monthly_costs_sc * 6 + total_monthly_costs_ca * 6
print(f'total_annual_costs = ${total_annual_costs}')

total_annual_costs = $88284

### Profits

In [26]:
avg_monthly_profit = net_monthly_income - avg_total_monthly_costs
print(f'avg_monthly_profit = ${round(avg_monthly_profit, 2)}')

avg_monthly_profit = $2818.0

In [27]:
avg_effective_monthly_profit = effective_net_monthly_income - avg_total_monthly_costs
print(f'avg_effective_monthly_profit = ${round(avg_effective_monthly_profit, 2)}')

avg_effective_monthly_profit = $6820.0

In [28]:
annual_profit = net_annual_income - total_annual_costs
print(f'annual_profit = ${annual_profit}')

annual_profit = $81840.0

## Student Loan

In [29]:
df_student = pd.DataFrame(data=[
    ['AA', 9_647.72, 3.150],
    ['AB', 0.00, 0.0],
    ['AC', 5_866.65, 3.610],
    ['AD', 8_923.83, 3.610],
    ['AE', 0.00, 0.0],
    ['AF', 0.00, 4.410],
    ['AG', 0.00, 5.590],
    ['AH', 6_953.78, 5.060],
    ['AI', 0.00, 0.0],
    ['AJ', 0.00, 0.0],
], columns=['group', 'principle', 'apr'])
df_student['monthly_interest'] = (df_student['principle'] * df_student['apr'] / 12 / 100).round(2)
df_student

  group  principle   apr  monthly_interest
0    AA    9647.72  3.15             25.33
1    AB       0.00  0.00              0.00
2    AC    5866.65  3.61             17.65
3    AD    8923.83  3.61             26.85
4    AE       0.00  0.00              0.00
5    AF       0.00  4.41              0.00
6    AG       0.00  5.59              0.00
7    AH    6953.78  5.06             29.32
8    AI       0.00  0.00              0.00
9    AJ       0.00  0.00              0.00

In [30]:
effective_student_apr = np.dot(df_student['principle'] / df_student['principle'].sum(), df_student['apr'])
print(f'effective_student_apr = {round(effective_student_apr, 3)}%')

effective_student_apr = 3.79%

In [31]:
total_student_principle = (df_student['principle'] + df_student['monthly_interest']).sum()
print(f'total_student_principle = ${round(total_student_principle, 2)}')

total_student_principle = $31491.13

In [32]:
def amortization_schedule(df, min_payment, extra_payments=[], start_at=0):
    df = df[df['principle'] > 0].copy()
    month = start_at
    amortization_records = [{
            'month': month,
            'total_payment': 0,
            'interest_paid': 0,
            'principal_paid': 0,
            'remaining_balance': df['principle'].sum()
    }]
    total_principal = df['principle'].sum()
    while total_principal > 0:
        month += 1
        monthly_interest = df['monthly_interest'].sum()
        total_payment = min_payment
        for extra_payment in extra_payments:
            if month >= extra_payment['shift_by'] and (month - extra_payment.get('shift_by', 0)) % extra_payment['num_months'] == 0:
                total_payment += extra_payment['amount']
        principal_payment = max(0, total_payment - monthly_interest)
        if total_principal + monthly_interest < total_payment:
            principal_payment = total_principal
            min_payment = principal_payment + monthly_interest
        total_principal -= principal_payment
        amortization_records.append({
            'month': month,
            'total_payment': total_payment,
            'interest_paid': monthly_interest,
            'principal_paid': principal_payment,
            'remaining_balance': total_principal
        })
        df['payment_proportion'] = df['principle'] / df['principle'].sum()
        df['principle'] -= df['payment_proportion'] * principal_payment
        df['monthly_interest'] = (df['principle'] * df['apr'] / 12 / 100).round(2)
        if total_principal <= 1:
            break
    return pd.DataFrame(amortization_records)

In [33]:
min_student_loan_payment = 388.52
extra_payments = [
    {'num_months': 1, 'amount': 1500, 'shift_by': 0},
    {'num_months': 3, 'amount': 9000, 'shift_by': 1},
    {'num_months': 6, 'amount': 6000, 'shift_by': 4},
]
amortization_df = amortization_schedule(df_student, min_student_loan_payment, extra_payments) # as of June 1
amortization_df

   month  total_payment  interest_paid  principal_paid  remaining_balance
0      0           0.00           0.00            0.00           31391.98
1      1       10888.52          99.15        10789.37           20602.61
2      2        1888.52          65.06         1823.46           18779.15
3      3        1888.52          59.31         1829.21           16949.94
4      4       16888.52          53.53        16834.99             114.95
5      5        1888.52           0.36          114.95               0.00

In [34]:
num_months_remaining_student = amortization_df['month'].iloc[-1]
print(f'num_months_remaining_student = {num_months_remaining_student}')

num_months_remaining_student = 5

In [35]:
print(f'num_years_remaining_student = {num_months_remaining_student // 12}')
print(f'num_months_leftover_remaining_student = {num_months_remaining_student % 12}')

num_years_remaining_student = 0
num_months_leftover_remaining_student = 5

In [36]:
leftover_student_payment = amortization_df['total_payment'].iloc[-1] - amortization_df['remaining_balance'].iloc[-2]
print(f'leftover_student_payment = ${round(leftover_student_payment, 2)}')

leftover_student_payment = $1773.57

## Car Loan

In [37]:
car_payment = 1249.36
car_principle = 33_033.22 # must update each time period
car_apr = 1.99

remaining_car_principle = car_principle - num_months_remaining_student * (car_payment / (1 - car_apr / 100)) - leftover_student_payment
df_car = pd.DataFrame(data=[[remaining_car_principle, car_apr]], columns=['principle', 'apr'])
df_car['principle'] = df_car['principle'].round(2)
df_car['monthly_interest'] = (df_car['principle'] * df_car['apr'] / 12 / 100).round(2)
df_car

   principle   apr  monthly_interest
0   24886.01  1.99             41.27

In [38]:
extra_payments = [
    {'num_months': 1, 'amount': 1500, 'shift_by': 0},
    {'num_months': 3, 'amount': 9000, 'shift_by': 1},
    {'num_months': 6, 'amount': 6000, 'shift_by': 4},
]
amortization_df = amortization_schedule(df_car, car_payment, extra_payments, start_at=num_months_remaining_student)
amortization_df

   month  total_payment  interest_paid  principal_paid  remaining_balance
0      5           0.00           0.00            0.00           24886.01
1      6        2749.36          41.27         2708.09           22177.92
2      7       11749.36          36.78        11712.58           10465.34
3      8        2749.36          17.36         2732.00            7733.34
4      9        2749.36          12.82         2736.54            4996.80
5     10       17749.36           8.29         4996.80               0.00

In [39]:
num_months_remaining_car = amortization_df['month'].iloc[-1]
print(f'num_months_remaining_car = {num_months_remaining_car}')

num_months_remaining_car = 10

In [40]:
print(f'num_years_remaining_car = {num_months_remaining_car // 12}')
print(f'num_leftover_months_remaining_car = {num_months_remaining_car % 12}')

num_years_remaining_car = 0
num_leftover_months_remaining_car = 10

In [41]:
leftover_car_payment = amortization_df['total_payment'].iloc[-1] - amortization_df['remaining_balance'].iloc[-2]
print(f'leftover_car_payment = ${round(leftover_car_payment, 2)}')

leftover_car_payment = $12752.56

## Timeline

In [42]:
num_months_loans = num_months_remaining_student + num_months_remaining_car - num_months_remaining_student
print(f'num_months_loans = {num_months_loans}')

num_months_loans = 10

In [43]:
savings_target = 50_000
current_balance = 20_000 + leftover_car_payment
monthly_profit_no_loans = avg_effective_monthly_profit + min_student_loan_payment + car_payment - other_monthly_income
print(f'monthly_profit_no_loans = ${round(monthly_profit_no_loans, 2)}')

monthly_profit_no_loans = $8457.88

In [44]:
num_months_to_save = round((savings_target - current_balance) / monthly_profit_no_loans)
print(f'num_months_to_save = {num_months_to_save}')

num_months_to_save = 2

In [45]:
num_months_remaining = num_months_loans + num_months_to_save
print(f'num_months_remaining = {num_months_remaining}')

num_months_remaining = 12

In [46]:
# Student Loans Paid: Dec-Jan 2024
# Car Paid: Apr-May 2025
# Savings Met: Aug-Sep 2025
# depends mainly on how much extra paid per month (which depends on spending)